Server Regex Invalid

RFC2812 section 2.3.1 states that the "server" portion is, essentially, anything between '@' and the next space. Attempting to parse perfectly valid "servers" as "services." and "unaffiliated/blah" causes the regex to fail.
https://tools.ietf.org/html/rfc2812#section-2.3.1

(Relevant excerpts)

>    message    =  [ ":" prefix SPACE ] command [ params ] crlf
>    prefix     =  servername / ( nickname [ [ "!" user ] "@" host ] )
>    host       =  hostname / hostaddr
>    hostname   =  shortname *( "." shortname )
>    shortname  =  ( letter / digit ) *( letter / digit / "-" )
>                  *( letter / digit )
>                    ; as specified in RFC 1123 [HNAME]

Edit: Extraneous BNF portions removed.
This is, essentially, an expansion of #1 


@brycied00d would you like to enhance `/^((?:[a-z0-9][a-z0-9-]*\.)*(?:[a-z][a-z0-9-]*))/i,`  ?

Gave it a try as I only found this when finding out why it kept crashing because of people that used ipv6.

```
/((?:[a-z0-9][a-z0-9-]*[.|:|/])*(?:[a-z][a-z0-9-]*(?=\s|$)))/i
```
Works for me with:
irc.server.com
ipadress.ip
ipv6:ip
server/service

So far no crashes with that.

@Xoin cool, would you like to do a PR?